* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: brown;
}
.container {
    max-width: 70%;
    margin: 0 auto;
    height: 500px;
    padding-top: 20px;
}

/* <!-- CALCOLO e BIGLIETTI    in comune --> */
.inserimento_dati, .biglietto_dati{
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #000000;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px;  
}
.biglietto_dati{
    text-align: left;
}

 /* <!-- CALCOLO --> */
.titolo_calcolo {
    color: white;
    text-align: center;
}
.apici{
    color: brown;
    margin-bottom: 20px;
    font-weight: bold;
}
.box{
    display: inline-block;
}

.box2{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

#genera, #annulla{
    margin-top: 50px;
    padding: 10px;
}

 /* <!-- BIGLIETTO --> */
.titolo_biglietto {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
} 
.Dettaglio_Passeggeri{
    text-align: left;
    padding-left: 10px;
}

.big_box {
    text-align: left;  
}

.box_nome_passeggero{
    background-color: gray;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    
}

.box_offerta, .box_carrozza, .box_codice_cp, .box_costo_biglietto {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

#totale, #codice_cp, #numero_carrozza, #offerta, #nomeU  {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
hr{
    width: 70%;
    margin: 0 auto;
}
